<htlm>
  <head>
    <head>
        <title>Блог</title>
    </head>



    <head>
        <div>
              <h1><a href="1">Блог</a></h1>
        </div>


      <div>
        <h1><a href="1">Мій перший, простий блог.<a></h1>
          <p>Салют! Я Владік Куштан і я сьогодні сворив свій перший сайт(Блог).</p>
            <p>Недавно я вчився як сворювати папку з домомогою консолі. Відчуття -
            оху*вший</p>
            <p>///////////////////////////////////////////////////////////////////
                                                                    Опубліковано:
                                                                    27.03.2015, 15.53</p>

      <div>
  </head>
  <head>
    <div>
      <h1><a href="https://vk.com/kustan_vladislav">Я Вконтакті!<a></h1>
    </div>
  </head>
</head>
